black
lint
pytest
pytest-cov
ipykernel

langchain
langchain-core
langchain-community
langchain_google_genai
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-experimental
# langchain-agents

pypdf
pymupdf #for pdf loader (doc loader)
chromadb
sentence-transformers
python-dotenv